<div *ngIf="Next">
    <div class="container" >
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <div id="badgeType" class="badge badge-pill">{{question.answer.typeAnswer}}</div>
                <div class="question">
                    <h5 class="card-title">Intitule:{{question.intitule}}</h5>
                    <div *ngIf="istypeAnswer">
                        <p class="card-subtitle mb-2 text-muted"
                            *ngFor="let choiceAnswer of question.answer.listChoiceAnswer; let i = index">
                            <input *ngIf="!isQcmUnique" type="checkbox" id="Reponse" value="{{choiceAnswer.textAnswer}}" (change)="SaveAnswer(choiceAnswer.textAnswer)">
                            <input *ngIf="isQcmUnique" type="radio" id="ReponseUnique" value="{{choiceAnswer.textAnswer}}" (change)="SaveAnswer(choiceAnswer.textAnswer)">
                            <label for="Reponse">Réponse {{i+1}}: {{choiceAnswer.textAnswer}}</label>
                        </p>
                    </div>
                    <div *ngIf="!istypeAnswer" class="textarea">
                        <label>Réponse :</label>
                        <input type="text" id="reponse" aria-placeholder="Reponse ouverte" (blur)="SaveAnswerText()">
                    </div>
                    <button type="button" class="btn btn-success" id="valider" (click)="onSubmit()" *ngIf="!isFinished">Suivant</button>
                    <button *ngIf="isFinished" class="btn btn-success" (click)="FinduQuizz()">Valider le quizz</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="!Next && !lastPage">
    <p>Le quizz va pouvoir démarer.. </p>
    <button  class="btn btn-success" id="valider" (click)="goToFirstQuestion()">Démarrer</button>
</div>
<div *ngIf="lastPage && !Next">
    <p> Féliciations! Le quizz est à présent terminer.
        Vos résultats vous seront communiqués ultérieurement.
    </p>
</div>