.container{
    display: flex;
    justify-content: center;
}
.card{
    border:solid 1px #4d618d;
    border-radius: 30px;
    font-size: 22px;
    
}
.title{
    text-align: left;
    margin-left: 40%;
}
.card-body{
    display: inline;
}
#badgeType{
    background-color:rgb(216, 116, 116);
    top:1px; left: 2px;
}
.question{
    text-align: center;
}
.Text{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

