<div *ngIf="Next">
    <div class="container" >
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <div id="badgeType" class="badge badge-pill">{{question.answer.typeAnswer}}</div>
                <div class="question">
                    <h5 class="card-title">Intitule:{{question.intitule}}</h5>
                    <div *ngIf="istypeAnswer">
                        <p class="card-subtitle mb-2 text-muted"
                            *ngFor="let choiceAnswer of question.answer.listChoiceAnswer; let i = index"
                            id="p">
                            <span *ngIf="!isQcmUnique" id="reponseMultiple">
                                <label for="Reponse">Réponse {{i+1}}: {{choiceAnswer.textAnswer}}</label>
                                <input  type="checkbox" name="name" id="Reponse" class="check" value="{{choiceAnswer.textAnswer}}" (change)="SaveAnswers()">
                            </span>
                            <span *ngIf="isQcmUnique">
                                <input  type="radio" id="ReponseUnique" name="choiceAnswer.textAnswer" value="{{choiceAnswer.textAnswer}}" (change)="SaveAnswer(choiceAnswer.textAnswer)">
                                <label for="ReponseUnique">Réponse {{i+1}}: {{choiceAnswer.textAnswer}}</label>
                            </span>
                        </p>
                    </div>
                    <div *ngIf="!istypeAnswer" class="textarea">
                        <label>Réponse :</label>
                        <input type="text" id="reponse" aria-placeholder="Reponse ouverte" (blur)="SaveAnswerText()">
                    </div>
                    <button type="button" class="btn btn-success" id="valider" (click)="onSubmit()" *ngIf="!isFinished">Suivant</button>
                    <button *ngIf="isFinished" class="btn btn-success" (click)="FinduQuizz()">Valider le quizz</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!Next && !lastPage">
    <span class="Text">
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning active">Notions à savoir avant le début du quizz:</li>
            <li class="list-group-item">Un retour en arrière n'est pas possible, une fois le bouton suivant cliqué,la réponse est enregistrée, on ne peut pas l'annuler.</li>
            <li class="list-group-item">En cas de bug, le quiz enregistre les questions répondues, lorsque vous serez reconnecté, vous serez dirigé vers les questions non répondues.</li>
        </ul>
    </span>
    <button  class="btn btn-success btn-lg" id="valider" (click)="goToFirstQuestion()">Démarrer</button>
</div>
<div *ngIf="lastPage && !Next">
    <p class="Text"> 
        Féliciations! Le quizz est à présent terminer.
        Vos résultats vous seront communiqués ultérieurement.
    </p>
</div>