<button class="btn btn-success" routerLink="ajouter" (click)="changeEtat">Ajouter une catégorie</button>
<router-outlet></router-outlet>
<h2>Liste des catégories</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom de la catégorie</th>
            <th scope="col" class="danger">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i = index">
            <th scope="col">{{i+1}}</th>
            <td>{{category.nameCategory}}</td>
            <td><img [src]="deleteIcon" alt=""></td>
        </tr>
    </tbody>
</table>