<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Candidats</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{candidate.firstname}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{candidate.lastname}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{candidate.email}}</h6>
        <div class="card-text">
          <div>Niveau : {{candidate.level}}</div>
      </div> 
    </div>
  </div>
</div>
