<div class="index">
    <h1>Bienvenue sur le site du Projet Fil rouge</h1>
    <div class="division">
      <p>Grâce à cette application vous pouvez générer des quizz afin de tester le niveau de vos candidats</p>
      <img [src]="iconquizz" class="image" >
    </div>
    <p>Pour cela, il vous suffit de cliquer sur Candidats dans la navigation. Vous aurez alors accès à la liste.
    Ensuite vous pouvez leur ajouter un quizz, lorsque celui-ci est passé, vous avez la possibilité de voir le résultat et de le télécharger au format PDF.
    </p>
</div>
