<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="junior_junior" value="0,7" />
		<add key="junior_confirme" value="0,2" />
		<add key="junior_expert" value="0,1" />
		<add key="confirme_junior" value="0,25" />
		<add key="confirme_confirme" value="0,5" />
		<add key="confirme_expert" value="0,25" />
		<add key="expert_expert" value="0,1" />
		<add key="expert_confirme" value="0,4" />
		<add key="expert_expert" value="0,5" />
	</appSettings>
</configuration>