h2{
    text-align: center;
    margin-top:30px;
}
.quizz{
    text-align:  center;
    border: solid black 2px;
    border-radius: 15px;
    margin: 20px 100px 25px 100px;
    padding: 20px;
}
.quizz p {
    font-size: 22px;
}

.question{
    border: solid black 0.5px;
    margin: 30px;
    padding:10px;
}
.reponse p{
    font-size: 16px;
    margin: 10px;
}
.correct{
    border: solid #aeef46 1px;
    color:#aeef46;
}
.correctCandidat{
    color:#aeef46;
}
.incorrect{
    color: rgb(255, 0, 0);
    text-decoration:line-through;
}
button{
    margin-left: 15%;
    margin-top: 15px;
}