<button routerLink="/gestionQuizz/{{idCandidate}}" class="btn btn-primary">Revenir à la liste des quizzes</button>

<h2>Détails du quizz</h2>
<div class="quizz" *ngIf="quizz">
    <h4>Code du quizz: {{quizz.codeQuizz}}</h4>
    <p>Catégorie: {{quizz.category}}</p>
    <p>Niveau: {{quizz.level}}</p>
    <p *ngIf="quizz.date">date de passage: {{quizz.date | date: "dd/MM/yy à HH:mm"}}</p>
    <div *ngFor="let question of quizz.questions" class="question">
        <h5 [innerHTML]="question.intitule | nl2br">{{question.intitule}} </h5>
        <p>Niveau de la question: {{question.level}}</p>

        <!-- Réponse QCM -->
        <div *ngIf="question.answer.typeAnswer != 'Text'" class="reponse">
            <h6>Réponses:</h6>
            <div *ngFor="let answer of question.answer.listChoiceAnswer; let i = index">
                <!-- SI réponse correct ou non répondu -->
                <div *ngIf="question.isCorrectAnswer || question.isCorrectAnswer == null">
                    <p *ngIf="answer.isAnswer" class="correct">- {{answer.textAnswer}}</p>
                    <p *ngIf="!answer.isAnswer">- {{answer.textAnswer}}</p>
                </div>
                <!-- SI réponse incorrect -->
                <div *ngIf="!question.isCorrectAnswer && question.isCorrectAnswer != null">
                    <p *ngIf="answer.isAnswer && (question.candidateAnswer.includes(answer.textAnswer))" class="correctCandidat">- {{answer.textAnswer}}</p>
                    <p *ngIf="answer.isAnswer && !(question.candidateAnswer.includes(answer.textAnswer))" class="correct">- {{answer.textAnswer}}</p>
                    <!-- SI QCM -->
                    <div *ngIf="question.answer.typeAnswer == 'QCM'">
                        <p *ngIf="!answer.isAnswer && (question.candidateAnswer == answer.textAnswer)" class="incorrect">- {{answer.textAnswer}}</p>
                        <p *ngIf="!answer.isAnswer && !(question.candidateAnswer == answer.textAnswer)">- {{answer.textAnswer}}</p>
                    </div>
                    <!-- SI QCM Multiple -->
                    <div *ngIf="question.answer.typeAnswer == 'QCM_multiple'">
                        <p *ngIf="!answer.isAnswer && (question.candidateAnswer.includes(answer.textAnswer))" class="incorrect">- {{answer.textAnswer}}</p>
                        <p *ngIf="!answer.isAnswer && !(question.candidateAnswer.includes(answer.textAnswer))">- {{answer.textAnswer}}</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Réponse Text -->
        <div *ngIf="question.answer.typeAnswer == 'Text'">
            <app-details-quizz-form [question]="question" [idQuizz]="quizz.idQuizz"></app-details-quizz-form>
        </div>
    </div>
    <button [disabled]="isQuizzCompleted()" class="btn btn-success" id="ResultatQuizz" routerLink="/gestionQuizz/resultat/{{quizz.idQuizz}}">Afficher les résultats</button>
</div>
