.container{
    display: flex;
    flex-direction: column;
}
.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    padding: .5rem;
}
